<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.css">
	<link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
	<style type="text/css">body {  padding-top: 40px; }</style>
</head>

<body>
	<style type="text/css">
		.add { margin-top: 20px; margin-bottom: 20px; }
		.footer { height: 10% }
		input { padding-bottom: 12px; }
	</style>
	
	<section class="hero is-primary">
  		<div class="hero-body">
    		<div class="container">
      			<h1 class="title">
        		NotesApp
      			</h1>
    		</div>
  		</div>
	</section>

	<div id="root" class="container">
		<div class="add">
			<input id="input" type="text" placeholder="Type a Note" v-model="newNote" v-on:keyup.enter="addNote">
  		</div>

		<tabs>
			<tab name="Notes" icon="fa fa-sticky-note" :selected="true">
				<ul>
					<li v-for="note in nonArchivedNotes">
						<article class="message is-warning">
  							<div class="message-body">
  								<p v-show="note != activeEdit"> {{ note.text }} </p> 
  								<input type="text" v-model="note.text" v-on:keyup.enter="doneEdit(note)" v-show="note == activeEdit"><br />
  								<p class="control"><a class="button is-small" title="Add to Archives" @click="note.archived = true"><span class="icon is-small"><i class="fa fa-archive"></i></span></a>  <a class="button is-small" title="Edit" @click="editNote(note)"><span class="icon is-small"><i class="fa fa-pencil"></i></span></a>  <a class="button is-small" title="Delete" @click="note.isVisible = false"><span class="icon is-small"><i class="fa fa-trash"></i></span></a></p>
  							</div>
						</article>
						<br>
					</li>
				</ul>
			</tab>
			<tab name="Archived" icon="fa fa-archive">
				<ul>
					<li v-for="note in archivedNotes">
						<article class="message is-warning">
  							<div class="message-body">
  								<p v-show="note != activeEdit"> {{ note.text }} </p> 
  								<input type="text" v-model="note.text" v-on:keyup.enter="doneEdit(note)" v-show="note == activeEdit"><br>
								<p class="control"><a class="button is-small" title="Remove from Archives" @click="note.archived = false"><span class="icon is-small"><i class="fa fa-sticky-note"></i></span></a>  <a class="button is-small" title="Edit" @click="editNote(note)"><span class="icon is-small"><i class="fa fa-pencil"></i></span></a>  <a class="button is-small" title="Delete" @click="note.isVisible = false"><span class="icon is-small"><i class="fa fa-trash"></i></span></a></p>
  							</div>
						</article>
						<br>
					</li>
				</ul>	
			</tab>
		</tabs>
	</div>

	<footer class="footer">
  		<div class="container">
    		<div class="content has-text-centered">
      			<p>
        			<strong>NotesApp</strong> by <a href="https://github.com/yashkarle">Yash Karle</a>
      			</p>
      			<p>
        			<a class="icon" href="https://github.com/yashkarle/vuejs-notes">
          				<i class="fa fa-github"></i>
        			</a>
      			</p>
    		</div>
  		</div>
	</footer>
</body>

<script src="https://unpkg.com/vue@2.2.1"></script>
<script src="main.js"></script>




